.action
    .container.action__swiper
        .action__wrapper
            .action__item
                .action__img
                    img(src="images/action-1.svg", alt="action")
                p.action__text Проведём интервью
        
            .action__item
                .action__img
                    img(src="images/action-2.svg", alt="action")
                p.action__text Составим план
        
            .action__item
                .action__img
                    img(src="images/action-3.svg", alt="action")
                p.action__text Соберём команду
        
            .action__item
                .action__img
                    img(src="images/action-4.svg", alt="action")
                p.action__text Разработаем продукт
        
            .action__item
                .action__img
                    img(src="images/action-5.svg", alt="action")
                p.action__text Улучшим метрики