.banner 
    .container.banner__inner 
        .circle.item-1
        .circle.item-2
        .banner__body 
            .banner__text 
                p.text-date 09 Августа 2021
                h2.title.banner__title Lorem ipsum dolor sit amet #[br], consectetur adipiscing elit, sed do #[br] eiusmod tempor incididunt ut #[br] labore et dolore magna aliqua
            .banner__img 
                img(src="images/banner.svg", alt="banner")
        .circle.item-3
        .circle.item-4
        