.footer 
    .container.footer__inner 
         .footer__logo 
            img(src="images/logo.svg", alt="footer logo")
         .footer__grid
            .footer__link.footer__link_item-1
                a(href="#").link Мобильные приложения
            .footer__link.footer__link_item-2
                a(href="#").link Главная страница
            .footer__link.footer__link_item-3
                a(href="#").link-bold Связаться с нами
            .footer__phone 
                img(src="images/phone.svg", alt="footer phone")
                a(href="tel:+78003017927").footer__numbers.link-bold +7 800 301-79-27
            .footer__telegram 
                 a(href="#")
                    img(src="images/telegram.svg", alt="footer telegram")
            .footer__mail 
                a(href="#")
                    img(src="images/mail.svg", alt="footer mail")
         .footer__info 
            img(src="images/footer.svg", alt="")
            p.text-description.footer__text Индивидуальный предприниматель #[br]Степанов Георгий Константинович  #[br]Адрес: г. Обнинск, ул. Белкинская. 19, #[br]136 ОГРНИП 318402700019269 ИНН #[br]402571298900 Банк МОСКОВСКИЙ ФИЛИАЛ #[br]АО КБ "МОДУЛЬБАНК" #[br]БИК 044525092 К/c 30101810645250000092 #[br]Счет 40802810970010085488
    p.copyright Copyright © 2021 ProductFit