header.header 
    .container.header__inner 
        .header__logo 
            a(href="#") 
                img(src="images/logo.svg", alt="header logo")
        .header__nav 
            .header__telegram 
                a(href="#") 
                    img(src="images/telegram.svg", alt="header telegram")
            .header__mail 
                a(href="#") 
                    img(src="images/mail.svg", alt="header mail")
            .header__phone 
                img(src="images/phone.svg", alt="header phone")
                a(href="tel:+78003017927").link-bold +7 800 301-79-27
            button.btn.header__btn начать проект
