.info 
    .container.info__inner 
        .info__img 
            img(src="images/info.png", alt="info")
        .info__content 
            h2.title.info__title Проведём интервью #[br] и подготовим проект#[br] к разработке
            p.text-description.info__text Проведём продуктовое интервью онлайн и дадим рекомендации по подготовке проекта к разработке. #[span.span-bold Это бесплатно.]
            img(src="images/info.png", alt="info").info__img_hide
            button.btn.info__btn Записаться на интервью
